$-card-width: 220px;
$-card-gap: 20px;
$-count-card-in-row: 4;

$-card-border-radius: 4px;

$-logo-heigth: 100px;
$-logo-width: 400px;

$-logo-heigth-tablet: 150px;
$-logo-width-tablet: 400px;

$-logo-heigth-desktop: 180px;
$-logo-width-desktop: 500px;

$-search-icon-side: 18px;

$-back-btn-icon-side: 16px;

$-input-heigth: 40px;
$-input-width: 100%;

$-transition-1: 3s;
$-transition-2: 0.5s;
$-transition-3: 1s;

$-image-list-page-heigth: 150px;
$-image-list-page-width: 220px;

$-image-details-side: 250px;

$-width-content: ($-card-width * $-count-card-in-row)
  + ($-card-gap * ($-count-card-in-row - 1));